@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&family=Roboto:wght@700&family=Saira+Condensed:wght@300;500;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

:root {
    --blue: #a2ace7;
    --gray: #dbd9df;
    --green: #0f6e03;
    --black: #1b1a19;
    --sm: 1.2rem;
    --md: 1.5rem;
    --lg: 1.8rem;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-size: var(--md);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 2rem;
}

.header p {
    font-size: var(--sm);
    color: var(--blue);
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    background: var(--gray);
    border: 0.2rem solid var(--blue);
    border-radius: 2.5rem;
    width: fit-content;
    height: auto;
    padding: 1rem;
}

.container h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 1rem;
}

.calc_form {
    display: grid;
    grid-template-columns: repeat(1fr, minmax(15rem, 25rem));
    grid-auto-rows: 1fr;
    justify-content: center;
    row-gap: 1rem;
    margin-bottom: 2.5rem;
}

.calc_form p {
    color: var(--green);
    font-weight: bold;
}